body {
    background-image: url("background-image.png");
    background-size: 100%;
}

img {
    float: left; 
    padding-right: 5%;
}

 
 h2 {
     font-family: 'Grape Nuts', cursive;
 }

 .center {
    width: 100%;
  }

  .centerr {
    width: 100%;
  }